<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>
<p>
<% @section.food_items.each do |food_item| %>
	<div class="card">
	  <img class="card-img-top" src="..." alt="Card image cap">
	  <div class="card-block">
	    <h4 class="card-title"><%= food_item.name %></h4>
	    <p class="card-text"><%= food_item.description %></p>
	    <p class="card-text"><strong><%= food_item.price %> VND</strong></p>
	    <a href="#" class="btn btn-primary">Order this item</a>
	  </div>
	</div>
<% end %>
<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>