<div class="card">
  <img class="card-img-top img-thumbnail" src="<%= food_item.imageUrl %>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= food_item.name %></h4>
    <h4 class="card-subtitle"><%= food_item.section.name %></h4>
    <p class="card-text"><%= food_item.description %></p>
    <p class="card-text"><strong><%= number_with_delimiter(food_item.price, :delimiter => ',') %> VND</strong></p>
    <a href="#" class="btn btn-primary">Order this item</a>
  </div>
</div>